

      body {
        background-color: #000000;
      }
      .payment-form {
        background-color: #fff;
        border-radius: 10px;
        padding: 30px;
        margin-top: 50px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
      .form-group {
        margin-bottom: 20px;
      }
      label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }
      input[type="number"],
      input[type="file"] {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
      }
      .pay {
        background-color: #3b71ca;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
      }
      .cancel {
        background-color: #dc3545;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }
      .instructions {
        background-color: #5995fd;
        border-radius: 10px;
        padding: 30px;
        margin-top: 50px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        color: white;
      }
      .instructions h2 {
        margin-bottom: 20px;
        text-align: center;
      }
      .h1 {
        margin-bottom: 20px;
        text-align: center;
      }
      .instructions p {
        margin-bottom: 10px;
        text-align: center;
      }
      .qr-code {
        text-align: center;
        margin-bottom: 20px;
      }
      .qr-code img {
        max-width: 100%;
        height: auto;
      }
  