{% extends 'base.html' %} {% load static %} {% block content %}
<br /><br /><br />

<div class="" style="background-color: black">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">ABOUT US</h1>
        <p class="lead text mb-0" style="color: white">
          Our swimming pool booking system company is dedicated to providing a
          hassle-free booking experience for swimmers of all levels. We partner
          with safe and well-maintained pools to ensure our customers can swim
          with peace of mind. Our team is passionate about swimming and
          committed to providing exceptional customer service.
        </p>
        <p class="lead text mb-0" style="color: white">There are two category i.e ADULT pool which cost Nu.150 and another we have CHILD
          pool which cost NU.50 per hours.The customer can make reservation for one hour only at a same.
          If they want to swim more than an hour they have to make multi-reservation.The price of pool are reasonalbe and they also provide
      swimming tube for those customer who can't swim.</p>
          <br>
        <br />
        <a
          href="#scroll"
          class="btn btn-light px-5 rounded-pill shadow-sm"
          style="background-color: #5995fd; color: white"
          >Learn More</a
        >
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img
          src="https://bootstrapious.com/i/snippets/sn-about/illus.png"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
<div class="py-5 my-1" id="scroll" style="background-color: black">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <i class="bi bi-chart fa-2x mb-3 text-primary"></i>
        <li class="list-inline-item">
          <a
            ><i
              id="boot-icon"
              class="bi bi-pie-chart-fill"
              style="font-size: 2rem; color: #5995fd"
            ></i
          ></a>
        </li>
        <h2 style="color: white; padding-top: 20px; padding-bottom: 5px">
          Mission
        </h2>
        <p class="text-muted mb-4">
          Our mission is to connect swimmers with safe and well-maintained
          pools, providing a seamless and hassle-free booking experience for
          all.
        </p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <img
          src="https://freesvg.org/img/1682404225eyeball.png"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto">
        <img
          src="{% static 'assets/img/goal.png' %}"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        />
      </div>
      <div class="col-lg-6">
        <li class="list-inline-item">
          <a
            ><i
              id="boot-icon"
              class="bi bi-search"
              style="font-size: 2rem; color: #5995fd"
            ></i
          ></a>
        </li>
        <h2 style="color: white; padding-top: 20px; padding-bottom: 5px">
          Aim
        </h2>
        <p class="text-muted mb-4">
          Our aim is to become the go-to platform for swimmers of all levels,
          helping them achieve their swimming goals by providing access to the
          best pools in their area.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-5" style="background-color: black">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5" style="margin-top: -90px">
        <h2 style="color: white; padding-top: 10px; padding-bottom: 5px">
          Our Team
        </h2>
        <p class="text-muted" style=color:white;>
          Meet with our enthusiastic Computer Science Experts.
        </p>
      </div>
    </div>
    <section class="team-section py-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
              <div class="card-body p-4">
                <div class="member-profile position-absolute w-100 text-center">
                  <img
                    class="rounded-circle mx-auto d-inline-block shadow-sm"
                    src="{% static 'assets/img/n.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="card-text pt-1">
                  <h5
                    class="member-name mb-0 text-center text-primary font-weight-bold"
                  >
                    Nima Tenzin Thinley
                  </h5>
                  <div class="mb-3 text-center text-muted">Developer</div>
                  <div class="text-muted">
                    Being a developer is my way of thinking. I relish the
                    boundless opportunities coding presents and the chance to
                    build impactful solutions. With a foundation in programming
                    languages and frameworks, I create robust and scalable
                    applications. Embracing new technologies empowers me to push
                    boundaries and excel in my craft.
                  </div>
                </div> 
              </div>
              <!--//card-body-->
              <div class="card-footer theme-bg-primary border-0 text-center">
                <ul class="social-list list-inline mb-0 mx-auto">
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="linkedin-in"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                        ></path></svg
                      ><!-- <i class="fab fa-linkedin-in fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="facebook-f"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                        ></path></svg
                      ><!-- <i class="fab fa-facebook-f fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-instagram fa-w-14 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="instagram"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                        ></path></svg
                      ><!-- <i class="fab fa-instagram fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                </ul>
                <!--//social-list-->
              </div>
              <!--//card-footer-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->

          <div class="col-12 col-md-6">
            <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
              <div class="card-body p-4">
                <div class="member-profile position-absolute w-100 text-center">
                  <img
                    class="rounded-circle mx-auto d-inline-block shadow-sm"
                    src="{% static 'assets/img/u.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="card-text pt-1">
                  <h5
                    class="member-name mb-0 text-center text-primary font-weight-bold"
                  >
                    Ugyen Wangchuk
                  </h5>
                  <div class="mb-3 text-center text-muted">Developer</div>
                  <div class="text-muted">
                    As a developer, I possess expertise in various programming
                    languages and technologies. My passion lies in creating
                    efficient and user-friendly software solutions. I prioritize
                    quality code and continuous learning to meet client needs.
                    Collaboration with cross-functional teams enables me to
                    contribute to innovative projects and drive their success.
                  </div>
                </div>
              </div>
              <!--//card-body-->
              <div class="card-footer theme-bg-primary border-0 text-center">
                <ul class="social-list list-inline mb-0 mx-auto">
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="linkedin-in"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                        ></path></svg
                      ><!-- <i class="fab fa-linkedin-in fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="facebook-f"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                        ></path></svg
                      ><!-- <i class="fab fa-facebook-f fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-instagram fa-w-14 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="instagram"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                        ></path></svg
                      ><!-- <i class="fab fa-instagram fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                </ul>
                <!--//social-list-->
              </div>
              <!--//card-footer-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
              <div class="card-body p-4">
                <div class="member-profile position-absolute w-100 text-center">
                  <img
                    class="rounded-circle mx-auto d-inline-block shadow-sm"
                    src="{% static 'assets/img/k.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="card-text pt-1">
                  <h5
                    class="member-name mb-0 text-center text-primary font-weight-bold"
                  >
                    Kencho Pem
                  </h5>
                  <div class="mb-3 text-center text-muted">Project Manager</div>
                  <div class="text-muted">
                    As a Project Manager, I oversee teams, timelines, and
                    deliverables, ensuring successful project execution and
                    client satisfaction.
                  </div>
                </div>
              </div>
              <!--//card-body-->
              <div class="card-footer theme-bg-primary border-0 text-center">
                <ul class="social-list list-inline mb-0 mx-auto">
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="linkedin-in"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                        ></path></svg
                      ><!-- <i class="fab fa-linkedin-in fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="facebook-f"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                        ></path></svg
                      ><!-- <i class="fab fa-facebook-f fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-instagram fa-w-14 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="instagram"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                        ></path></svg
                      ><!-- <i class="fab fa-instagram fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                </ul>
                <!--//social-list-->
              </div>
              <!--//card-footer-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
              <div class="card-body p-4">
                <div class="member-profile position-absolute w-100 text-center">
                  <img
                    class="rounded-circle mx-auto d-inline-block shadow-sm"
                    src="{% static 'assets/img/d.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="card-text pt-1">
                  <h5
                    class="member-name mb-0 text-center text-primary font-weight-bold"
                  >
                    Dorji Wangmo
                  </h5>
                  <div class="mb-3 text-center text-muted">UI/UX Designer</div>
                  <div class="text-muted">
                    As a UI/UX Designer, I craft intuitive and visually
                    appealing interfaces, focusing on user-centered design
                    principles to enhance the user experience.
                  </div>
                </div>
              </div>
              <!--//card-body-->
              <div class="card-footer theme-bg-primary border-0 text-center">
                <ul class="social-list list-inline mb-0 mx-auto">
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="linkedin-in"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                        ></path></svg
                      ><!-- <i class="fab fa-linkedin-in fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="facebook-f"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                        ></path></svg
                      ><!-- <i class="fab fa-facebook-f fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-instagram fa-w-14 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="instagram"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                        ></path></svg
                      ><!-- <i class="fab fa-instagram fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                </ul>
                <!--//social-list-->
              </div>
              <!--//card-footer-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
              <div class="card-body p-4">
                <div class="member-profile position-absolute w-100 text-center">
                  <img
                    class="rounded-circle mx-auto d-inline-block shadow-sm"
                    src="{% static 'assets/img/t.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="card-text pt-1">
                  <h5
                    class="member-name mb-0 text-center text-primary font-weight-bold"
                  >
                    Tshering Dema
                  </h5>
                  <div class="mb-3 text-center text-muted">UI/UX Designer</div>
                  <div class="text-muted">
                    As a UI/UX designer, I blend creativity and user-centric
                    design principles to craft intuitive interfaces that elevate
                    user experiences.
                  </div>
                </div>
              </div>
              <!--//card-body-->
              <div class="card-footer theme-bg-primary border-0 text-center">
                <ul class="social-list list-inline mb-0 mx-auto">
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="linkedin-in"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                        ></path></svg
                      ><!-- <i class="fab fa-linkedin-in fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="facebook-f"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                        ></path></svg
                      ><!-- <i class="fab fa-facebook-f fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a class="text-dark" href="#"
                      ><svg
                        class="svg-inline--fa fa-instagram fa-w-14 fa-fw"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="instagram"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                        ></path></svg
                      ><!-- <i class="fab fa-instagram fa-fw"></i> Font Awesome fontawesome.com --></a
                    >
                  </li>
                </ul>
                <!--//social-list-->
              </div>
              <!--//card-footer-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
        </div>
        <!--//row-->
      </div>
    </section>
  </div>
</div>

{% endblock %}
