{% extends 'base.html' %} {% load static %} {% block content %}

<br><br><br><br><br><br>

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>
    </div>

    <div class="container" data-aos="fade-up">
      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Kurizampa, Mongar , Bhutan</p>
            </div>
  
            <div class="open-hours">
              <i class="bi bi-clock"></i>
              <h4>Open Hours:</h4>
              <p>
                Monday-Saturday:<br />
                9:00 AM - 6:00 PM
              </p>
            </div>
  
            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>aqaublue@swim.com</p>
            </div>
  
            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Phone:</h4>
              <p>+975 17797835</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-8 mt-5 mt-lg-0">
            <form method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="name" style:"color:white;">Your Name:</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="occupation" style:"color:white;">Occupation:</label>
                        <input type="text" class="form-control" name="occupation" id="occupation" placeholder="Occupation" required>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="message" style:"color:white;">Message:</label>
                    <textarea class="form-control" name="message" id="message" rows="8" placeholder="Message" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </div>
            </form>
            
            
        </div>
      </div>
    </div>
  </section>


  {% endblock %}
  