{% extends 'base.html' %} 
{% block content %}

<div class="container-fluid p-4" style="background: url('/static/assets/img/wang.jpg') top center; background-size: cover; position: relative; padding: 0; min-height: 100vh;">
<div class="container" style="margin-top:150px;">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="text-center mb-5">
        User-Dashboard : Hello, {{ user.username }}!
      </h1>
    </div>
  </div>
  <div class="row justify-content-center"> <!-- Center the row -->
    <div class="col-sm-6 col-lg-3 mb-4">
      <div class="card">
        <div class="card-body">
          <img
            class="card-img-top"
            src="https://img.freepik.com/premium-vector/male-character-holding-huge-magnifying-glass-concept-information-research-frequently-asked-questions-query_87771-24149.jpg?w=740"
            alt="Booking History"
          />
          <h5 class="card-title text-dark text-center">View Booking Details</h5><br>
          <button type="submit" class="btn btn-primary"><a href="{% url 'cust_availability' %}"  style="color:white;"
            >VIEW DETAILS </a
          > </button>
        </div>
      </div>
    </div>
   
    <div class="col-sm-6 col-lg-3 mb-4">
      <div class="card">
        <div class="card-body">
          <img
            class="card-img-top"
            src="https://img.freepik.com/free-vector/online-calendar-concept-illustration_114360-5111.jpg?w=740&t=st=1681856398~exp=1681856998~hmac=bb5901f4416fcb70f93d71a3e6f56f622744967bcb6d75fdc1bb45124e07b8c8"
            alt="Make Reservation"
          />
          <h5 class="card-title text-dark text-center">Make Reservation</h5><br>
          <button type="submit" class="btn btn-primary"><a href="/#book-a-table"  style="color:white;"
            >BOOK NOW </a
          > </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}


