{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<br><br><br><br><br>
<div class="container">
<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-dark text-white">
        <h4>Reset Password</h4>
      </div>
      <div class="card-body">
		<form action="/reset_password/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
		  <div class="form-wrapper">
			<input type="password" placeholder="Password" name="password" class="form-control">
			<i class="zmdi zmdi-lock"></i>
		</div>
		<div class="form-wrapper">
				<input type="password" placeholder="Confirm Password" name="confirm_password" class="form-control">
				<i class="zmdi zmdi-lock"></i>
		</div>
          <div class="form-group row">
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-primary" style="background-color: #5995fd;">Reset Password</button>
            </div>
          </div>
        </form>
      </div>
	  <!-- Load message -->		
	  {% include 'alerts.html' %}
    </div>
  </div>
</div>
</div>
<br><br><br>
{% endblock %}
