.container2 {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  padding-top: 80px;
}
.nima {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

.form-group label {
  font-weight: bold;
  color: #333;
}

.form-group input[type='date'],
.form-group input[type='time'] {
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  height: 40px;
  color: white;
}

.form-group input[type='date']:focus,
.form-group input[type='time']:focus {
  outline: none;
  border-color: #5cb85c;
}

.btn-primary {
  background-color: #5cb85c;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #449d44;
}

.person-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
  padding: 10px;
}

.person-image img {
  width: 100%;
  height: auto;
}
#reserve {
  background-color: #5995fd;
  color: WHITE;
}
#date {
  background-color: white;
  border-radius: 5px;
  color: #ccc;
}

/* Style for form container */
.form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

/* Style for form inputs */
input[type='text'],
input[type='email'],
input[type='password'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style for form label */
label {
  font-size: 16px;
  font-weight: bold;
}

/* Style for form button */
button[type='submit'] {
  background-color: #8dcafd;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for form button on hover */
button[type='submit']:hover {
  background-color: #45a049;
}

/* Style for form error message */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

#son {
  background-color: #5995fd;
}

.messages li {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.messages .info {
  background-color: #00bfff; /* light blue */
  color: white;
}

.messages .success {
  background-color: #339900; /* light green */
  color: white;
  font-weight: 500px;
}

/* and so on for other message levels */

.login-error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
